-f https://eggrepo.eea.europa.eu/simple/
# Develop
mxdev==2.0.0

# KitKat
eea.kitkat==1.7

# Required by eea.kitkat
collective.taxonomy==2.2.0
eea.api.layout==3.2
eea.api.taxonomy==1.5
eea.banner==1.3
eea.cache==9.5
eea.geolocation==2.1
eea.schema.slate==1.2
eea.sentry==2.4
eea.volto.policy==1.7
eea.zotero==1.4
