-f https://eggrepo.eea.europa.eu/simple/

# Pin plone.volto
plone.volto==3.1.0a4

# Develop
mxdev==1.0.0

# KitKat
eea.kitkat==1.5

# Required by eea.kitkat
collective.taxonomy==2.2.0
eea.api.layout==3.2
eea.api.taxonomy==1.5
eea.cache==9.5
eea.geolocation==2.1
eea.schema.slate==1.2
eea.sentry==2.3
eea.volto.policy==1.7
eea.zotero==1.4
